---
layout: page
title: Main
weight: 1.5
show: 1
---

<div class="col-7">
    <center>
  <table>
<tr><td style="padding:10px 90px 10px 0px">
      <img width="200px" class="img-rounded" src="images/ziwei.png" />
  </td><td style="padding:10px">
    <center>
    <h1>Ziwei Tang </h1>
    <b>Undergraduate Student.</b> <br> <b>Beijing University of Posts and Telecommunications</b> <br>
    <span style="font-size:15px"><a href="mailto:tzw@bupt.edu.cn">[tzw@bupt.edu.cn]</a> <a href="cv/Ziwei_CV.pdf">[cv]</a></span> </h1> <br>
</center>

      </td>
  </tr>
  </table>
  </center>
<br>
</div>

<p style="font-size: 18px">

  I am a senior student at Beijing University of Posts and
  Telecommunications, majoring in Computer Science and Technology.
  My research interests are Nature Language Processing, Large
  Language Models and multi-agent systems. I am currently working
  on evaluating LLMs' programming ability in software engineering
  tasks and exploring the potential of multi-agent coding systems.
</p>


<h3> Current Research Areas </h3>
<p style="font-size: 18px">
<ul style="font-size: 18px">
  <li> Evaluating programming ability of LLMs. </li>
  <li> Methods for LLMs' long context code generation.  </li>
</ul>
</p>


<h3>Papers</h3>

<p style="font-size: 18px">
These are some of my previous work.
</p>

<table>
{% for paper in site.data.papers.notable %}

  <tr><td style="padding:10px">
      {% if paper.image %}
      <a href="{{paper.pdf}}"><img width="150px" style="min-width:100px" src="{{paper.image}}"></a>
      {% else %}
      <a href="{{paper.pdf}}"><img height="75px" style="min-width:100px" src="https://avatar.tobi.sh/{{paper.title}}"></a>

      {% endif %}
</td><td style="padding:10px">
<a class="paper" href="{{paper.pdf}}">
{{paper.title}}
</a><br>
{{paper.authors}}.<br>
{{paper.conference}} <br>

<br>

</td></tr>

{% endfor %}
</table>