---
layout: page
title: Main
weight: 1.5
show: 1
---

<div class="col-7">
    <center>
  <table>
<tr><td style="padding:10px 90px 10px 0px">
      <img width="200px" class="img-rounded" src="images/ziwei.png" />
  </td><td style="padding:10px">
    <center>
    <h1>Ziwei Tang </h1>
    <b>Undergraduate Student.</b> <br> <b>Beijing University of Posts and Telecommunications</b> <br>
  <!-- Computer Science <a href="http://nlp.cornell.edu">Cornell NLP</a> <br> -->
    <span style="font-size:15px"><a href="mailto:tzw@bupt.edu.cn">[tzw@bupt.edu.cn]</a> <a href="cv/cv.comp.pdf">[cv]</a></span> </h1> <br>
<!-- <b>Researcher.</b> <b>Hugging Face</b> <br> -->
</center>

      </td>
  </tr>
  </table>
  </center>
<br>
</div>

<p style="font-size: 18px">
  
  <!-- My <a href="papers/">research</a> aims to build and improve
  generative AI. We are interested primarily in tasks that involve
  text generation, historically translation, summarization, and
  data-to-text generation. Methodologically, we study
  data-driven probabilistic methods that combine deep-learning
  based models with probabilistic controls. -->

  I am a senior student at Beijing University of Posts and
  Telecommunications, majoring in Computer Science and Technology.
  My research interests are Nature Language Processing, Large
  Language Models and multi-agent systems. I am currently working
  on evaluating LLMs' programming ability in software engineering
  tasks and exploring the potential of multi-agent coding systems.
</p>

<!-- <p style="font-size: 18px">
  I am also interested in <a href="projects/">open-source</a> NLP and deep learning, and
  develop projects to make deep learning systems safer, more clear, and easier to
  use.
  I work part-time at <a href="http://huggingface.co">Hugging Face</a> and like to release various software
  projects to support NLP and DL research.

</p> -->


<h3> Current Research Areas </h3>
<p style="font-size: 18px">
<ul style="font-size: 18px">
  <li> Evaluating programming ability of LLMs. </li>
  <li> Methods for LLMs' long context code generation.  </li>
  <!-- <li> Efficient algorithms and hardware for language tasks.  </li> -->
  <!-- <li> Security in AI systems. </li> -->
</ul>
</p>

<!-- <h3> Recognition </h3> -->


<!-- <p style="font-size: 18px">
My group's work has been recognized with an NSF CAREER Award and a Sloan Fellowship. We have won paper awards at conferences for NLP, Hardware, and Visualization, as well as awards for best demonstrations for open-source software.
</p> -->

<h3>Papers</h3>

<p style="font-size: 18px">
These are some of my previous work.
</p>

<table>
{% for paper in site.data.papers.notable %}

  <tr><td style="padding:10px">
      {% if paper.image %}
      <a href="{{paper.pdf}}"><img width="150px" style="min-width:100px" src="{{paper.image}}"></a>
      {% else %}
      <a href="{{paper.pdf}}"><img height="75px" style="min-width:100px" src="https://avatar.tobi.sh/{{paper.title}}"></a>

      {% endif %}
</td><td style="padding:10px">
<a class="paper" href="{{paper.pdf}}">
{{paper.title}}
</a><br>
{{paper.authors}}.<br>
{{paper.conference}} <br>

<br>

</td></tr>

{% endfor %}
</table>


<!-- <h3>Contact</h3> -->


