---
layout: page
title: Publications
permalink: /papers/
weight: 4
show: 1
---

<h3>Papers</h3>



<p>
These are some of preprint papers I worked on.
  
</p>
<table>
{% for paper in site.data.papers.papers %}

  <tr><td style="padding:10px">
      {% if paper.image %}
      <a href="{{paper.pdf}}"><img width="200px" style="min-width:150px" src="{{paper.image}}"></a>
      {% else %}
      <a href="{{paper.pdf}}"><img height="75px" style="min-width:150px" src="https://avatar.vercel.sh/{{paper.title}}"></a>
      {% endif %}
</td><td style="padding:10px">
<a class="paper" href="{{paper.pdf}}">
{{paper.title}}
</a><br>
{{paper.authors}}.<br>
{{paper.conference}} <br>

<br>

</td></tr>

{% endfor %}
</table>


<div class="paper-section">
<a class="paper" href="papers/devbench.pdf">
DevBench: A Comprehensive Benchmark for Software Development
</a><br>
Bowen Li, Wenhan Wu, Ziwei Tang, Lin Shi, John Yang, Jinyang Li, Shunyu Yao, Chen Qian, Binyuan Hui, Qicheng Zhang, Zhiyin Yu, He Du, Ping Yang, Dahua Lin, Chao Peng, Kai Chen.<br>
In submission <br><a class="icon pdf label label-info" href="papers/devbench.pdf">pdf</a>
</div>

<div class="paper-section">
<a class="paper" href="papers/toollearning.pdf">
Tool Learning with Foundation Models
</a><br>
<a class="name">Yujia Qin, Shengding Hu, Yankai Lin, Weize Chen, Ning Ding, Ganqu Cui</a>
<a class="name">Zheni Zeng, Yufei Huang, Chaojun Xiao, Chi Han, Yi Ren Fung</a>
<a class="name">Yusheng Su, Huadong Wang, Cheng Qian, Runchu Tian, Kunlun Zhu, Shi Liang, Xingyu Shen</a>
<a class="name">Bokai Xu, Zhen Zhang, Yining Ye, Bowen Li, Ziwei Tang</a>
<a class="name">Jing Yi, Yu Zhu</a>
<a class="name">Zhenning Dai</a>
<a class="name">Lan Yan</a>
<a class="name">Xin Cong</a>
<a class="name">Ya-Ting Lu</a>
<a class="name">Weilin Zhao</a>
<a class="name">Yuxiang Huang</a>
<a class="name">Jun-Han Yan</a>
<a class="name">Xu Han</a>
<a class="name">Xian Sun</a>
<a class="name">Dahai Li</a>
<a class="name">Jason Phang</a>
<a class="name">Cheng Yang</a>
<a class="name">Tongshuang Wu</a>
<a class="name">Heng Ji</a>
<a class="name">Zhiyuan Liu</a>
<a class="name">Maosong Sun</a>.<br>
In submission <br><a class="icon pdf label label-info" href="papers/toollearning.pdf">pdf</a>
</div>